@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- Container cart order -->
<div class="container_cart-order">
    <div class="grid container_cart-order-main">
        <div class="path grid" style="position: relative;bottom: 105px;">
            <span>
                <a href="/Customer/Home/Index">Trang chủ</a> >
            </span>
            <span>
                <a href="/Customer/GioHang/Index">Giỏ hàng</a> >
            </span>
            <span>
                <a class="path_here" href="/Customer/ThanhToanGioHang/Index" style="color: rgb(255, 218, 145);">Thanh toán</a>
            </span>
        </div>
        <div class="row">
            <div class="col-md-6 cart_details-bill">
                <h2 class="cart_details-bill-title">Chi tiết thanh toán</h2>
                <div class="cart_details-bill-list">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="full-name">Họ và tên</label>
                            <input type="text" class="form-control" id="full-name" name="full-name" placeholder="Họ và tên">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="address-city">Địa chỉ</label>
                            <input type="text" class="form-control" id="address-city" name="address-city" placeholder="Thành phố">
                        </div>

                        <div class="col-md-12">
                            <input type="text" class="form-control" placeholder="Quận, phường, đường, số nhà">
                        </div>
                    </div>

                    <div class="form-group form-phone-email">
                        <div class="col-md-5">
                            <label for="phone">Số điện thoại</label>
                            <input type="text" class="form-control" id="phone" name="phone" placeholder="Số điện thoại">
                        </div>

                        <div class="col-md-5">
                            <label for="Email">Email</label>
                            <input type="text" class="form-control" placeholder="Email">
                        </div>
                    </div>

                    <div class="form-group form-group-last">
                        <label for="order-notes">Ghi chú</label>
                        <textarea name="order-notes" id="order-notes" cols="30" rows="5" class="form-control" placeholder="Ghi chú"></textarea>
                    </div>
                </div>
            </div>

            <!-- <div class="col-md-2">

            </div> -->

            <div class="col-md-6 container-your-order">
                <h2>Đơn hàng của bạn</h2>
                <div class="your-order-product-details">
                    <table class="product-details-table">
                        <thead>
                            <tr>
                                <th>Sản phẩm</th>
                                <th>Số tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Truyện Doremon
                                    <strong class="mx-2">x</strong>
                                    1
                                </td>
                                <td>100.000đ</td>
                            </tr>
                            <tr>
                                <td>
                                    Truyện Doremon
                                    <strong class="mx-2">x</strong>
                                    2
                                </td>
                                <td>200.000đ</td>
                            </tr>
                            <tr>
                                <td class="cart-subtotal">
                                    <strong>Tạm tính</strong>
                                </td>
                                <td>300.000đ</td>
                            </tr>
                            <tr class="cart-total-last">
                                <td class="cart-total">
                                    <strong>Tổng cộng</strong>
                                </td>
                                <td>
                                    <strong>300.000đ</strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="container-payments">
                        <div class="payments-form">
                            <span>Hình thức thanh toán</span>
                            <select id="payments" class="payments-options">
                                <option value="1">Thanh toán khi nhận hàng</option>
                                <option value="3">Thanh toán bằng momo</option>
                            </select>
                        </div>

                        <div class="payments-btn">
                            <button class="btn-payments-product">Thanh toán</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>