@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}

<h1 style="margin-top:150px;">@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
