@page
@model LoginModel

@{
    ViewData["Title"] = "ĐĂNG NHẬP";
}

<div class="container slider">

    <h1 style="margin-top:150px; text-align:center;">@ViewData["Title"]</h1>
    <div class="row" style="justify-content:center;">
        <div class="col-md-6" style="margin-bottom:250px;">
            <section>
                <form id="account" method="post">

                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" style="font-size: 20px;height: 52px;padding-top: 16px;" />
                        <label asp-for="Input.Email" class="form-label">Email</label>

                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" style="font-size: 20px;height: 52px;padding-top: 16px;" />
                        <label asp-for="Input.Password" class="form-label">Mật khẩu</label>

                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="checkbox mb-3" style="display:flex; justify-content:space-between; align-items:center; font-size: 12px;">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                        @*<p>
                            <a id="forgot-password" asp-page="./ForgotPassword" style="font-size: 12px;">Quên mật khẩu?</a>
                        </p>*@
                    </div>

                    <div>
                        <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary" style="font-size: 14px;">Đăng nhập</button>
                    </div>
                    @*<div style="display:flex; justify-content:space-between; align-items:center; font-size: 12px; margin-top: 10px;">

                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Đăng ký làm người dùng mới</a>
                        </p>
                        <p>
                            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Gửi lại email xác nhận</a>
                        </p>
                    </div>*@
                </form>
            </section>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

